* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;    
}
#game-score {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#game-arena {
    display: flex;
    justify-content: space-evenly;
}

#player-arena {
    height: 450px;
    width: 450px;
    border: 2px solid #F9C446;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#computer-arena{
    height: 450px;
    width: 450px;
    border: 2px solid #F9C446;
}
#vs img {
    height: 500px;
    width: 100px;
}
.player-name , .computer-name {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#options img {
    height: 90px;
}

.player-image , .computer-images , img {
    height: 280px;
}

#result-win {
    font-size: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: none;
}
#result-lose {
    font-size: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: none;
}
#play-again-btn {
    height: 40px;
    width: 200px;
    background-color: #F9C446;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result-footer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
